<div class='text-center'>
<h1> Matching Game </h1>
<div class="space"><h4 class='alert text-center'></h4></div>
<p class='counter'></p>
</div>

      <!-- Game -->
<div class='container center'>
  <div class='game'>
    <div class='row'>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
    </div>

    <div class='row'>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
    </div>

    <div class='row'>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
    </div>

    <div class='row'>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
      <button class='btn btn-default col-sm-2 cards'><p></p></button>
    </div>
  </div>
  <hr />
  <div class='col-sm-12 new-game btn btn-default'>New Game</div>
</div>
